/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Nov 26, 2023, 10:23:11 PM
    Author     : Admin
*/

.footer-bottom{
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.footer-main{
    display: flex;
    justify-content: space-between;
    padding : 0;
}
.content_2{
    margin-left: 35px;
}
.logo-footer>img{
    width: 150px ;
    height: 150px ;
    border-radius: 120px;
}
.logo-footer{
    align-items: center;
    margin-right: -130px;
    margin-left: 70px;
}

/*.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.gototop.active {
    opacity: 1;
    visibility: visible;
}
.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #616161;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
    text-decoration: none;
    outline: none;
}*/

/*.gototop {
    position: fixed !important;
    bottom: 20px !important;
    right: 20px !important;
}

.js-gotop img {
    width: 40px !important;
    height: auto !important;
}*/

#colorlib-footer {
    padding: 7em 0 0 0;
}
#colorlib-footer .colorlib-footer-links {
    padding: 0;
    margin: 0;
}
@media (max-width: 767.98px) {
    #colorlib-footer .colorlib-footer-links {
        margin-bottom: 30px;
    }
}
#colorlib-footer .colorlib-footer-links li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
}
#colorlib-footer .colorlib-footer-links li a {
    color: #000;
    text-decoration: none;
}
@media (max-width: 767.98px) {
    #colorlib-footer .footer-col {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
#colorlib-footer .colorlib-social-icons li a {
    padding-left: 10px;
    padding-right: 10px;
}
#colorlib-footer .colorlib-social-icons li a:first-child {
    padding-left: 0;
}
#colorlib-footer h4 {
    margin-bottom: 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
}
#colorlib-footer .copy {
    padding: 2em 0;
}
#colorlib-footer .copy p {
    margin-bottom: 0;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}